* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-with-some-images{
    margin: 0 auto;
    display: flex;
    border: 2px solid slateblue;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    width: fit-content;
    gap: 40px;

    .image{
        
        img{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}

.btn{
    height: 50px;
    width: 130px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: blueviolet;
    margin-top: 20px;
    transition: color 0.2s ease-in-out;
}
.btn:hover{
    color: white;
    background-color: blueviolet;
}
.container {
    // border: 2px solid red;
    margin-top: 700px;
    margin-bottom: 1000px;
    display: flex;
    gap: 30px;
    justify-content: center;
    

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        // border: 3px solid slateblue;

        view-timeline-name: --card;
        view-timeline-axis: block;

        animation: linear reveal both;
        animation-timeline: --card;

        animation-range: entry 20% cover 40%;

        // .card-img {}

        .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            button{
                background-color: rgb(44, 44, 44);
                color: white;
                height: 40px;
                width: 100px;
                border: none;
                border-radius: 10px;
                margin-bottom: 20px;
            }
        }
    }
}

@keyframes reveal {
    from {
        opacity: 0.2;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        transform: scale(0.2);
    }

    to {
        opacity: 1; 
        transform: scale(1);
    }
}

@keyframes revealX {
    from {
        opacity: 0.2;
        transform: scale(0.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appear {
    0%{
        transform: translateY(1000px);
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }

    100%{
        transform: translateY(10px);
        transform: scale(1);
        
    }
}